:host{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .icon {
  margin: 10px;
  padding: 1%;
  background-color: #101851;
  color: white;
  display: flex;
  /* flex-direction: column; */
  align-items: stretch;
  flex-grow: 1;
  border-radius: 2vh;
  justify-content: center;
  align-content: space-around; 
  }
  
  h3 {
    font-size: 26px;
    text-align: center;
    justify-content: center;
  }
  
  p {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    justify-content: center;
  }
  
  a {
    padding: 5px;
    font-size: 18px;
    border-radius: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    }

  .icon:hover {
    background-color: black;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  img {
    image-rendering: crisp-edges;
    display: flex;
    margin: auto;
  }

  .cardContainer {
    display: flex;
  }

  