.voting {
  padding: 40px 100px 0;

  .sliders {
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
    > * {
      flex: 1 1 80px;
      margin-right: 40px;
    }

    .MuiTypography-body1 {
      font-size: 14px;
      font-weight: 600;
      font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
      line-height: 1.5;
      color: #11a8bd;
    }
  }
}

