<div class="container">

    <h1 *ngIf="data">
        Welcome {{username}}
    </h1>
    <h2 *ngIf="actions">Your Civic Actions</h2>
    <ol>
        <li *ngFor="let action of actions">
            <h3 *ngIf="action.name">
                {{ action.name }}
            </h3>
            <p *ngIf="action.detail">
                {{ action.detail }}
            </p>
            <h4 *ngIf="action.organization">
                Organization:
            </h4>
            <p *ngIf="action.organization">
                {{ action.organization }}
            </p>
            <h4>Date:</h4>
            <p *ngIf="action.actionDate">
                {{ action.actionDate }}
            </p>
            <h4>Time Spent:</h4>
            <p *ngIf="action.length">
                {{ action.length }} hrs
            </p>
            <hr />
        </li>
    </ol>
    <button routerLink="/action">Take Action!</button>
    <a href="https://www.volunteermatch.org/" target="_blank">
        <h2>Looking for Volunteer Opportunities and Ideas?</h2>
    </a>
</div>