<form>
    <h1>Login</h1>
        <label>Email</label>
        <input type="text" placeholder="Email" (change)="setEmail($event)" />
        <label>Password</label>
        <input type="text" placeholder="Password" (change)="setPassword($event)" />
    <button (click)="login($event)">
        Login
    </button>
    <h3>
        <a class="button" routerLink="/signup">New User?
            <br />
            Sign Up Here</a>
        </h3>
    </form>
<h3>
    <a class="button" routerLink="/educatorSignUp">
        Are you an educator?
    </a>
</h3>