#classid{
    height: 5.5vh;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    color: #11a8bd;
    text-align: center;
}

h2{
    color: #28558d;
    font-weight: bold;
    position: relative;
    padding: 10px;
    /* margin-left: 75.5vh; */
    text-align: center;
}

.classId{
    position: relative;
    padding: 10px;
    align-items: center;
    align-content: center;
    -ms-flex-align: center;
    text-align: center;
}