<p>action-form works!</p>
<span>Action Name</span>
<input name="actionForm" id="name" type="text" (change)="setName($event)"/>
<span>Action Detail</span>
<input name="actionForm" id="detail" type="text" (change)="setDetail($event)"/>
<span>Affiliated Organization</span>
<input name="actionForm" id="organization" type="text" (change)="setOrganization($event)" />
<span>Action Date</span>
<input name="actionForm" id="actionDate" type="datetime" (change)="setActionDate($event)"/>
<span>Length of Action</span>
<input name="actionForm" id="length" type="number" (change)="setLength($event)" />
<button (click)="submitAction($event)">Record Action!</button>