form {
    align-content: center;
    padding: auto;
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../assets/bg-dc.png);
    background-size: cover;
}

h1 {
    color: white;
    margin-top: 3%;
}


input[type=text] {
    width: 50vh;
    padding: 12px;
    margin: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


button {
    margin: 25px;
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 25px;
    width: 100px;
    margin: 0 8px 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    text-align: center;
}

button:hover {
    color: white;
    background-color: #101851;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
    transform: translateY(-3px);
}

.row{
    text-decoration: none;
    color: white;
    font-size: larger;
    margin: 12px;
}

.row:hover {
    color: black;
    text-decoration: none;
}