<form>
<h1>Educator Sign Up</h1>
        <!-- <label>Username</label> -->
        <input type="text" placeholder="Username" (change)="setUsername($event)" />
        <!-- <label>Email</label> -->
        <input type="text" placeholder="Email" (change)="setEmail($event)" />
    <!-- <label>Password</label> -->
    <input type="text" placeholder="Password" (change)="setPassword($event)" />
    <button (click)="signUp($event)">
        Sign Up
    </button>
    <h3>
        <a class="button" routerLink="/educatorLogin">Returning Educator?
            <br />
            Login Here</a>
    </h3>
</form>