<h1>Educator Login</h1>
<form>
    <div class="row">
        <label>Email</label>
        <input type="text" placeholder="Email" (change)="setEmail($event)"/>
    </div>
    <div class="row">
        <label>Password</label>
        <input type="text" placeholder="Password" (change)="setPassword($event)"/>
    </div>
    <button (click)="login($event)">
        Login
    </button>
</form>
<h3>
    <a class="button" routerLink="/educatorSignUp">New Educator?
        <br />
        Sign Up Here</a>
    </h3>