.deptInfo {
  .intro {
    background: url(../../assets/images/bg-books.png);
    background-size: cover;
    padding: 120px 100px;
    text-align: center;
    color: #fff;
    h1 {
      font-size: 42px;
      font-weight: 700;
      color: #fff;
      font-family: "Roboto Slab", serif;
      line-height: 1;
      margin-bottom: 40px;
    }
    p {
      font-size: 36px;
      max-width: 80%;
      margin: 0 auto;
    }
  }
  .agencyInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    img {
      flex-basis: 50%;
      max-width: 600px;
    }
    .deptDrop {
      flex-basis: 50%;
      max-width: 600px;
      color: #797979;
      select {
        padding: 10px;
        font-size: 18px;
      }
      section {
        h2 {
          font-size: 32px;
          font-family: "Roboto Slab", serif;
          padding: 20px 0 10px;
          font-weight: 700;
        }
        p {
          font-size: 18px;
        }
      }
      .code {
        font-size: 20px;
        font-weight: 700;
      }
      .year {
        font-size: 20px;
        font-weight: 700;
      }
      .link {
        a {
          color: #11a8bd;
          font-weight: 700;
          &:hover {
            color: #176fa6;
          }
        }
      }
    }
  }
}
