.taxBracket {
  margin: 0 0 40px 0;
  .tax-title {
    font-size: 32px;
    color: #11a8bd;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .btn-danger:not(:disabled):not(.disabled).active:focus,
  .btn-danger:not(:disabled):not(.disabled):active:focus,
  .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: none;
  }
  .btn {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    color: #fff;
    box-shadow: none;

    &:nth-child(2) {
      background: #124e73;

      &.active {
        color: #124e73;
        background: #fff;
        border: 1px solid #124e73;
      }
    }
    &:nth-child(3) {
      background: #176fa6;
      &.active {
        color: #176fa6;
        background: #fff;
        border: 1px solid #176fa6;
      }
    }
    &:nth-child(4) {
      background: #11a8bd;
      &.active {
        color: #11a8bd;
        background: #fff;
        border: 1px solid #11a8bd;
      }
    }
    &:nth-child(5) {
      background: #10b39a;
      &.active {
        color: #10b39a;
        background: #fff;
        border: 1px solid #10b39a;
      }
    }
    &:nth-child(6) {
      background: #08c976;
      &.active {
        color: #08c976;
        background: #fff;
        border: 1px solid #08c976;
      }
    }
    &:nth-child(7) {
      background: #f2c849;
      &.active {
        color: #f2c849;
        background: #fff;
        border: 1px solid #f2c849;
      }
    }
    &:nth-child(8) {
      background: #f29829;
      &.active {
        color: #f29829;
        background: #fff;
        border: 1px solid #f29829;
      }
    }
  }
  .directions {
    font-size: 32px;
    color: #11a8bd;
    font-weight: 300;
    margin: 50px 0 10px;
  }
}
