.item {
    margin: 15px;
    text-align: center;
}

.header {
    align-items: center;
    justify-content: center;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

h1 {
    color: black;
}

#submit {
    align-items: center;
    justify-content: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 25px;
    padding: 25px;
}

button {
    margin: 25px;
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 100px;
    margin: 0 8px 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    text-align: center;
}

button:hover {
    color: white;
    background-color: #101851;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

#totalBudget {
    all: unset;
    align-content: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
}

span {
    font-weight: 700;
    font-size: large;
    margin: 5px;
}

input {
        font-weight: 700;
        font-size: large;
        width: 40px;
        border: transparent;
}

.LoginHeader {
    font-size: 25px;
    width: 75%;
    padding: 10ch 10ch 19ch 10ch;
    text-align: center;
    margin: 0 auto 80px;
}

a {
    text-decoration: none;
}

a:hover {
    color: goldenrod
}