<div class="header">
    <button (click)="evenDist($event)">Distribute Equally</button>
    <button (click)="educationDist()">Education Focused</button>
    <button (click)="enviroDist()">Environment Focused</button>
    <button (click)="healthDist()">Healthcare Focused</button>
    <button (click)="defenseDist()">Defense Focused</button>
    <button (click)="transportDist()">Transportaion Focused</button>
    <br />
    <div id="totalBudget">
        <h2>Total Budget Used</h2>
        <h2 *ngIf="totalDept">{{totalDept}} %</h2>
        <div id="budgetAlert"></div>
    </div>
    <br />
</div>
<div class="container">
    <div class="item">
        <div *ngFor="let dept of depts | slice:0:5">
            <input id="{{dept.code}}" type="number" min="1" max="100" value="{{dept.percent}}" (change)="updateBudget()"/><span>%</span>
            <h3>{{dept.name}}</h3>
        </div>
    </div>
    <div class="item">
        <div *ngFor="let dept of depts | slice:5:10">
            <input id="{{dept.code}}" type="number" min="1" max="100" value="{{dept.percent}}" (change)="updateBudget()"/><span>%</span>
            <h3>{{dept.name}}</h3>
        </div>
    </div>
    <div class="item">
        <div *ngFor="let dept of depts | slice:10:15">
            <input id="{{dept.code}}" type="number" min="1" max="100" value="{{dept.percent}}" (change)="updateBudget()"/><span>%</span>
            <h3>{{dept.name}}</h3>
        </div>
    </div>
    <div class="item">
        <div *ngFor="let dept of depts | slice:15:20">
            <input id="{{dept.code}}" type="number" min="1" max="100" value="{{dept.percent}}" (change)="updateBudget()"/><span>%</span>
            <h3>{{dept.name}}</h3>
        </div>
    </div>
</div>