a,
a:visited {
    color: white;
    text-decoration: none;
    align-items: center;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  a:hover {
    color: #67a621;
  }
nav {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #101851;
  color: white;
  font-weight: 600;
}