<nav>
    <a class="button" routerLink="/" title='Homepage'><i class="material-icons">home</i><p>Homepage</p></a>
    <a class="button" routerLink="/info" title='Information Center'><i class="material-icons">help_outline</i><p>Information Center</p></a>
    <a class="button" routerLink="/voting" title='Voting'><i class="material-icons">ballot</i><p>Voting Page</p></a>
    <a class="button" routerLink="/results" title='Budget Results'><i class="material-icons">leaderboard</i><p>Budget Results</p></a>
    <!-- conditional rendering of links show username -->
    <a *ngIf="username" class="button" routerLink="/profile" title='Profile Page'><i class="material-icons">account_circle</i><p>Welcome {{username}}</p></a>
    <a *ngIf="teachername" class="button" routerLink="/educatorProfile" title='Profile Page'><i class="material-icons">account_circle</i><p>Welcome {{teachername}}</p></a>
    <a *ngIf="data" class="button" (click)="logout()" title='Logout'><i class="material-icons">exit_to_app</i><p>Logout</p></a>
    <!-- conditional showing of profile page button -->
    <a class="button" *ngIf="!data" routerLink="/signup" title='Sign Up Page'><i class="material-icons">person_add</i><p>Sign Up</p></a>
    <a class="button" *ngIf="!data" routerLink="/login" title='Login Page'><i class="material-icons">login</i><p>Login</p></a>
</nav>