<form>
    <h1>Sign Up</h1>
        <!-- <label>Username</label> -->
        <input type="text" placeholder="Username" (change)="setUsername($event)" />
        <!-- <label>Email</label> -->
        <input type="text" placeholder="Email" (change)="setEmail($event)" />
    <!-- <label>Password</label> -->
    <input type="text" placeholder="Password" (change)="setPassword($event)" />
    <div class="row">
        <label>Have a class code?</label>
        <input type="checkbox" (click)="showClassInput()" />
    </div>
    <div id="ClassCodeInput" style="display: none">
        <input placeholder="Enter it Here" type="string" (change)="setClassCode($event)" />
    </div>
    <button (click)="signUp($event)">
        Sign Up
    </button>
    <h3>
        <a class="button" routerLink="/login">Returning User?
            <br />
            Login Here</a>
        </h3>
</form>