<form>
    <h1>Sign Up</h1>
        <input type="text" placeholder="Username" (change)="setUsername($event)" />
        <input type="text" placeholder="Email" (change)="setEmail($event)" />
    <input type="text" placeholder="Password" (change)="setPassword($event)" />
    <div class="row">
        <label>Have a class code?</label>
        <input type="checkbox" (click)="showClassInput()" />
    </div>
    <div id="ClassCodeInput" style="display: none">
        <input placeholder="Class Code Here" type="text" (change)="setClassCode($event)" />
    </div>
    <button (click)="signUp($event)">
        Sign Up
    </button>
    <h3>
        <a class="button" routerLink="/login">Returning User?
            <br />
            Login Here</a>
        </h3>
</form>