.row {
      background: url(../../assets/bg-dc.png);
      background-size: cover;
    }

    .banner {
    padding: 120px 100px;
  }
  
  .banner h3 {
    font-size: 42px;
    /* color: #fff; */
    width: 75%;
    text-align: center;
    margin: 0 auto 80px;
  }
  
  .banner p {
    font-size: 32px;
    /* color: #fff; */
    text-align: center;
  }
  
  .banner strong {
    display: block;
    font-size: 42px;
    font-weight: 700;
  }
