.tiles {
  display: flex;
  align-items: center;
  justify-content: center;

  .tile {
    border: 1px solid #797979;
    color: #797979;
    text-align: center;
    margin: 15px;
    padding: 15px;
    flex-basis: 25%;
  }
  .icon {
    margin-bottom: 10px;
  }
  h3 {
    font-family: "Roboto Slab", serif;
    font-size: 26px;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  a {
    display: inline-block;
    color: #fff;
    padding: 5px 25px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 700;
  }

  .teal a {
    background: #11a8bd;
  }
  .blue a {
    background: #176fa6;
  }
  .yellow a {
    background: #f2c849;
  }
  .green a {
    background: #10b39a;
  }
}
