<!-- dept dropdown bar -->
<h1>Select a Department to Learn About</h1>
<select id="deptSelect" (change)="displayDept($event)">
    <option *ngFor="let dept of DeptInfo" [title]="dept.value" value="{{dept.value}}">{{dept.name}}</option>
</select>
<!-- populates logo and information in a div below -->
<div id="deptInfo"></div>
<!-- select address -->
    <h1>Enter Your Address to Look Up Your Elected Officials</h1>
    <input type="text" (change)="getAddress($event)" placeholder="Address Here" />
    <button (click)="onSubmit(location)">Search</button>
<!-- populate information below -->
<div id="official-display"></div>