.footer {
    line-height: 20px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    margin-top: 20px;
  }

  #voteLink {
    position: absolute;
    justify-content: right;
    text-align: right;
    right: 0;
    margin: 5px;
  }

  a:hover {
    color: #e7f70f;
  }

  a {
    margin: 20px;
    padding: 10px;
  }