.footer {
    margin-top: 8px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #1976d2;
  }

  h1 {
    margin: 8px;
  }

  #voteLink {
    position: absolute;
    justify-content: right;
    text-align: right;
    right: 0;
    margin: 25px;
  }