<h1 *ngIf="!data">
    No Data Found for that Class
</h1>
<div *ngIf="class">
    <h1>
        Class Information for {{class.classCode}}
    </h1>
    <div *ngIf="studentDetails">

        <h2>Student and Action List</h2>
        <ol>
            <li *ngFor="let student of studentDetails">
                <h3 [title]="student.username + 'details'">
                    {{student.username}}
                </h3>
                <h3>
                    {{student.email}}
                </h3>
                <ul *ngFor="let action of student.actions">
                    <li>
                        {{action.name}}
                    </li>
                    <li>
                        {{action.detail}}
                    </li>
                    <li>
                        Organization: {{action.organization}}
                    </li>
                    <li>
                        Length: {{action.length}}
                    </li>
                    <li>
                        {{action.actionDate}}
                    </li>
                </ul>
            </li>
        </ol>
    </div>
    <h3>Vote Count: {{(class.votes).length}}</h3>
</div>