.container {
    align-content: center;
    margin: 10px;
    padding: auto;
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    height: 70%;
}


ol {
    margin-left:40px;
    margin-top:0;
    padding-top:0;
    font-size:1.25em;
   }